<div style=" width: fit-content; background-color: white">
    <fieldset>
      <label for="name" style="font-weight: bold; margin-right: 15px;">Filter by name:</label>
      <mat-form-field >
          <input matInput placeholder="Substring to filter"  [(ngModel)]="name" />
      </mat-form-field>

      <button mat-button style="background-color: #1976d2; color: white; margin-right: 15px;margin-left: 15px;" (click)="filtrar()" >Apply filter</button>
      <button mat-button  style="background-color: #1976d2; color: white" (click)="removeFilter()">Remove filter</button>
    </fieldset>
</div>

