<div >
<table>
<ul *ngIf="projects.length>0; else empty">
    <thead>
      <tr>
        <th >Id</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
  <tr *ngFor="let project of projects">
  <td data-label="Id">{{ project.id }}</td>
  <td data-label="Name">{{ project.name }}</td>
  <td data-label="Actions" style="padding: 0;"><button class="primary small" routerLink='{{ project.id }}'>See more info</button></td>
  </tr>
</tbody>
 </ul>
 <ng-template #empty> <p style="margin-left: 24px; color: red">No data found with your filter</p> </ng-template>
</table>
</div>
